<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is our render page</h1>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nobis delectus odit maiores eaque ipsum non consequatur facilis voluptatem, eligendi veniam culpa et in. Quibusdam neque in 
        blanditiis reiciendis, a cumque. Ad et aut rerum fuga cumque facilis!</P>
        <button>submit </button>  
 
</body>
</html>